#container{
    position: relative;
    top: 140px;
    font-family: sans-serif;
    font-size: 13px;
}

#container a{
    text-decoration: none;
}

#container a:hover{
    text-decoration: underline;
}

body{
    text-align:center;
    margin:0;
}

#upperNav ul{
    margin-top:10px;
    padding: 0px;
    color: #000;
    list-style-type: none;
    overflow: hidden;
    position: top;
    top: 0;
    width: 100%;
    text-align: right;
}

#upperNav ul li{
    display: inline;
    padding: 10px;
    font-size: 13px;
    font-family: sans-serif;
}

#upperNav ul li a{
    text-decoration: none;
    color: #000;
}

#upperNav ul li a:hover{
    text-decoration: underline;
}

#upperNav img{
    width: 15px;
    height: 15px;
}

#upperNav input[type=button]{
    font-weight: bold;
    background-color: rgb(49, 49, 250);
    border: none;
    color: #fff;
}

input[type=text]{
    margin-top: 20px;
    width: 40%;
    height: 25px;
    padding: 10px;
    border: 1px solid #f2f2f2;
    box-shadow:0 2px 2px rgba(0,0,0,0.19);
}

input[type=text]:hover{
    box-shadow:0 3px 3px rgba(0,0,0,0.19), 0 1px 1px rgba(36, 34, 34, 0.23);
}

input[type=text]:focus{
    box-shadow:0 3px 3px rgba(0,0,0,0.19), 0 1px 1px rgba(36, 34, 34, 0.23);
    border: 1px solid #f2f2f2;
}

.imageInput img{
    position: relative;
    left: -35px;
    top: 5px;
}

#btnContainer{
    margin-top: 25px;
}

input[type=button]{
    padding: 10px;
    margin: 3px;
    background-color: #f2f2f2;
    border: none;
    color: #757575;
    font-weight: bold;
}

input[type=button]:hover{
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 42px 42px;
    bottom: 0;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

footer ul{
    list-style-type: none;
}
#bottomNav, #topNav{
    background-color: #f2f2f2;
    border-top: 1px solid #dfdcdc;
    border-top-width: 1px;
}

#bottomNav ul li, #topNav ul li{
    float: left;
    font-family: sans-serif;
}

#topNav ul li{
    color: #807d7d;
    font-size: 15px;
}

#bottomNav ul li{
    padding-right: 25px;
    padding-left:0px;
    font-size: 13px;
}

#bottomNav ul li a{
    text-decoration: none;
    color: #838080;
}

#bottomNav ul li a:hover{
    text-decoration: underline;
}

/*
#topNav ul{
    margin:0;
    padding: 0;
    background-color: #f2f2f2;
    color: #000;
    text-align:left;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 233px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid black;
}

#bottomNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    line-height: 50px;
}*/
 

