#container{
    position: relative;
    top: 170px;
}

body{
    text-align:center;
    margin:0;
}

input[type=text]{
    margin-top: 20px;
    width: 40%;
    height: 25px;
    padding: 10px;
    border: 1px solid #f2f2f2;
    box-shadow:0 2px 2px rgba(0,0,0,0.19);
}

input[type=text]:hover{
    box-shadow:0 3px 3px rgba(0,0,0,0.19), 0 1px 1px rgba(36, 34, 34, 0.23);
}

input[type=text]:focus{
    box-shadow:0 3px 3px rgba(0,0,0,0.19), 0 1px 1px rgba(36, 34, 34, 0.23);
    border: 1px solid #f2f2f2;
}

#btnContainer{
    margin-top: 25px;
}

input[type=button]{
    padding: 10px;
    margin: 3px;
    background-color: #f2f2f2;
    border: none;
    color: #757575;
    font-weight: bold;
}

input[type=button]:hover{
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/*
#listFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45px 45px;
    bottom: 0;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

footer ul{
    list-style-type: none;
}
#bottomNav, #topNav{
    background-color: #f2f2f2;
    border-top: 1px solid #dfdcdc;
    border-top-width: 1px;
}

/*
#topNav ul{
    margin:0;
    padding: 0;
    background-color: #f2f2f2;
    color: #000;
    text-align:left;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 233px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid black;
}

#bottomNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    line-height: 50px;
}*/
 
#bottomNav ul li, #topNav ul li{
    float: left;
}

#bottomNav ul li{
    padding-right: 20px;
    padding-left:0px;
}

#bottomNav ul li a{
    text-decoration: none;
}

#bottomNav ul li a:hover{
    text-decoration: underline;
}
